@model BinaryStudioAcademy_TestFacebooklikeApp2.Models.LoginModel
@{
    ViewBag.Title = "Registration";
}

<div class="container">
    <h2>Registration</h2>
     <form action="./" method="POST"> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Email):
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password):
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    
        <p>
            <input class="ui-button-icon-primary" type="submit" value="Register!" />
            
        </p>    </form>
        
        @Html.ActionLink("Return to main page","Index","Login")

</div>